{% load mpd_status %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <link rel="stylesheet" href="static/style.css" />
  <title>weTunes {% block title %}{% endblock %}</title>
</head>

<body>
  <div id="header">
    {% mpd_status %}
    <div id="searchbox">
      <form action="/search" method="post">
        <input type=text name=value size=40 />
        <select name=field>
          <option value='any'>any</option>
          <option value='artist'>artist</option>
          <option value='title'>title</option>
          <option value='album'>album</option>
        </select>
        <input type=submit value=Search />
      </form>
    </div>
  </div>

  <div id="content">
    {% block content %}{% endblock %}
  </div>

  <div id="footer">
  </div>
</body>
</html>
