{% extends "base.html" %}

{% block title %} - Index{% endblock title %}

{% block content %}
<table>
    <tr><th>#</th><th>Artist</th><th>Title</th><th>Votes</th><th>Vote</th></tr>
    {% for s in playlist %}
        <tr><td>{{forloop.counter}}</td><td>{{s.artist}}</td><td>{{s.title}}</td><td>{{s.votes}}</td><td>
        {% if username in s.voters %}
            <a href="/unvote/{{s.file}}">-</a>
        {% else %}
            <a href="/vote/{{s.file}}">+</a>
        {% endif %}
        </td></tr>
    {% endfor %}
</table>


{% endblock content %}
