{% extends "base.html" %}

{% block htmlhead %}
  <script type="text/javascript" src="/static/search.js"></script>
{% endblock %}

{% block headerfixed %}
<span id="initsearchterm">{{ searchterm }}</span>

<div id="playlistcreator">
	<span class="boxheader" id="playlistboxheader">Playlist</span>
	<ul id="playlistcreator_auto"></ul>
	<a href="#" id="submitbutton">Submit</a>
	<a href="#" id="clearbutton">Clear</a>
</div>

<div id="searchresults">
	<span class="boxheader" id="searchboxheader">Search Results</span>
	<span id="sortbylinks">Sort by :
		<a id="sortby_artist" href="#">Artist</a>&nbsp;*&nbsp;
		<a id="sortby_album" href="#">Album</a>&nbsp;*&nbsp;
		<a id="sortby_title" href="#">Title</a>
	</span>
	<ul id="searchresults_auto"></ul>
</div>
{% endblock %}

{% block content %}



{% endblock %}
