body
{
  background: #333333;
  color: #ffffff;
}

div#status 
{
  position: fixed;
  background: #666633;
  border: 1px solid #336666;
  width: 275px;
  height: 150px;
  right: 10px;
  top: 10px;
  font-size: .75em;
  font-style: sans-serif;
}

div.lefthalf
{
    width: 45%;
    float: left;
}

div.righthalf
{
    width: 45%;
    float: right;
}

li.song
{
    list-style-type: circle;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

#savebutton
{
}

#blockbuilder
{
    margin-top: 20px;
    min-height:400px;
    border: 1px solid #cccccc;
}

#searchresults
{
    margin-top: 150px;
    border: 1px solid #cccccc;
}

/*
div#status #volumeslider
{
  background: #888888;
}

div#status #volumeslider a.ui-slider-handle
{
  background: url("/static/img/jquery/volumeLogo.gif") no-repeat 50% 50%;
  border: none;
}
*/
